<nav class="ui secondary pointing menu">
    <div class="ui basic segment" style="padding:0%; margin-block:auto;">
        <a href="/"> <img class="" src="https://tourmatetours.com/wp-content/uploads/2022/01/tourmate_tours_logo_rectangle-removebg-preview.png" alt="Tourmate" width="40" height="30"></a>
    </div>
    <% if !logged_in?%>
      <a href="/home" class="item ">Home</a>
      <a href="/login" class="item" style="text-align: right;">Sign In</a>
      <a href="/signup" class="item">Sign Up</a>
    <%end%>
      <% if logged_in? %>
        <a class="item" href="/home">My Trips</a>
        <% if current_user.friend_requests? %>
            <a class="item" href="<%= friends_path %>">Friends
          <div class="floating ui red circular label"><%=current_user.requested_friends.count%></div></a>
            <% else %>
                <a class="item" href="<%= friends_path %>">Friends</a>
                <% end %>
                    <a class="item" href="<%= user_path(current_user)%>">Profile</a>
                    <a class="item" href="/trips/browse">Browse</a>
                    <%= link_to 'Bookings', bookings_path,class: "item" %>
                    <%= link_to 'Rooms', rooms_path,class: "item" %>
                    <% end %>


                        <div class="right menu">
                            <div class="item">
                                <% if session[:user_id] %>
                                    <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
                                        <input class="ui basic button" type=submit value='logout'>
                                        <% end %>
                                            <% end %>
                            </div>
                        </div>
</nav>



<!-- script-for-menu -->
  <!-- script-for-menu -->
  <script>
    $("span.menu").click(function(){
      $(" ul.navig").slideToggle("slow" , function(){
      });
    });
  </script>