<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tourmate</title>
    <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

            <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
                <%= javascript_include_tag 'application' %>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">


                    <%= javascript_include_tag("jquery.flexslider")%>

                    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!---- start-smoth-scrolling---->

	<script type="text/javascript">
	      jQuery(document).ready(function($) {
	        $(".scroll").click(function(event){   
	          event.preventDefault();
	          $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
	        });
	      });
	    </script>
	<!--start-smoth-scrolling-->
                </head>

<body>
    <%=  render partial = "shared/navbar"%>
    <%= yield %>
</body>

</html>


